.*project
Makefile
Makefile.in
*m4
m4/
autom4te.cache/
config.*
configure
depcomp
table.xml
table.xml.in
ibus-table.pc
ibus-table.spec
install-sh
missing
*.o
*.pot
*.gmo
*.mo
*~
py-compile
.deps/
stamp-h1
engine/
INSTALL
ABOUT-NLS
.*
src/ibus-engine-table
po/stamp-po
