/INSTALL
/ABOUT-NLS
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/ibus-typing-booster.pc
/install-sh
/autom4te.cache/
ibus-table.pc
ibus-table.spec
/missing
/py-compile
